scikit-learn==1.5.0
torch==2.6.0
transformers==4.48.1
torchmultimodal-nightly==2024.4.1
pillow==10.2.0
accelerate==0.30.1
pandas==2.2.2
hyperopt==0.2.7
xgboost==3.0.2
captum==0.7.0
beautifulsoup4==4.12.3
opencv-python==4.11.0.86
